@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Protest Riot', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bgOrange:#e84949;
}

#wrapper{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo{
    width: 50px;
}

.logo-container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-text{
    margin-left: -0.6rem;
    font-size: 24px;
}


.nav-items{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 4em;
}


.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div:hover{
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-items div a{
    color: black;
}

a{
    text-decoration: none;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}


.faded-text{
    user-select: none;
    font-size: 7rem;
    color: rgb(225,225,225);
    bottom: -18%;
    left: 3%;
    font-weight: bold;

}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.left-heading{
    font-size: 35px;
    color: rgb(231, 59, 59);
    font-weight: 500;
}

.left-subheading{
    font-size: 35px;
    line-height: 20px;
}
.role{
    color:#db2c2c;
    font-weight: 600;
}

.hero-section-desc{
    font-size: 20px;
    margin-top: 1rem;
    width: 70%;
    font-weight: 300;
}

#webDtext{
    color: rgb(25, 25, 230);
}

.btn-pink{
    background-color: var(--bgOrange);
    color: white;
    width: fit-content;
    padding: 0.8rem 2.3rem;
    box-shadow: 3px 3px 5px 0px #000001;
    font-size: 18px;
    cursor: pointer;
    border: solid 3px transparent;
    font-weight: 500;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
}

.btn-pink::before{
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.btn-pink:hover::before{
    transform: scaleX(1);
}

.btn-pink:hover{
    color: black;
    border: 3px solid var(--bgOrange);
}

.hero-section-right{
    position: relative;
}

.absolute{
    position: absolute;
}

.user-image img{
    z-index: -1;
}

.user-image{
    width: 70vh;
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.user-image img{
    width: 100%;
}

@keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        filter: grayscale(0);
        transform: scale(1);
    }
}

.icon-dots{
    z-index: 1;
    bottom: 0;
    right: 0;
    animation: dotsAnimation 4s infinite;
}

@keyframes dotsAnimation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateX(0px);
    }
}

.icon-cube{
    z-index: 1;
    right: 0;
    top: 0;
    animation: cubeAnimation 2s infinite;
}

@keyframes cubeAnimation {
    0%{
        transform:rotateY(0deg) translateY(0px);

    }
    50%{
        transform: rotateY(180deg) translateY(10px);
        
    }
    100%{
        transform: rotateY(360deg) translateY(0px);
        
    }
}

.icon-circle{
    z-index: 1;
    bottom: 0;
    left: 0;
    animation: circleAnimation 3s linear infinite;
}

@keyframes circleAnimation {
    0%{
        left: 0;
        bottom: 0;
    }
    50%{
        left: 5%;
        bottom: 5%;
    }
    100%{
        left: 0;
        bottom: 0;
    }
}

.icon-zigzags{
    z-index: 1;
    top: 0;
    left: 0;
    animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
    50%{
        top: 5%;
        left: 5%;
    }
}


.icon-plus{
    z-index: 1;
    top: 0;
    left: 50%;
    animation: plusAnimation 5s infinite;
}

@keyframes plusAnimation {
    50%{
        top: 3%;
        left: 45%;
    }
}


.projects-section{
    background-color: rgb(225, 225, 225);
    margin-top: 4rem;
}

.page-heading{
    text-align: center;
    color: var(--bgOrange);
    font-size: 80px;
    font-weight: 400;
    padding-top: 35px;
}


.projects-container{
    max-width: 1000px;
    /* for centering the projects container */
    margin:0 auto;  
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 120px;
    /* transform: scale(1); */
}



.project-card{
    width: 100%;
    height: 550px;
    background-image: url("images/projects/Project1.png");
    background-size: cover;
    position: relative;
    z-index: 0;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(31, 31, 31, 0.4) ;
}
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform:scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}
.project-card:hover{
    cursor: pointer;
}

.projects-card:hover .project-content{
    transform: scale(1.1);
}

.project-card:hover .project-number{ 
    visibility: visible;
}

.project-number{
    position: absolute;
    font-size: 140px;
    z-index: 2;
    font-weight: 600;
    color: rgb(255, 255, 255);
    visibility: hidden;
    transition: 0.4s ease;
}

.project-card-odd{
    left: -10%;
}

.project-card-even{
    right: -10%;
}

.odd{
    top: -30px;
    right: -40px;
}

.even{
    top: -30px;
    left: -40px;
}



.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 3em;
    padding-left: 4em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
   
}


.project-content-odd{
    left: 10%;
}

.project-content-even{
    right: 10%;
}

.project-skills-icon{
    width: 60%;
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
}

.project-skills{
    width: 40px;
}

.skills-heading{
    font-size: 40px;
    line-height: 3rem;
    font-weight: 300;
}

.skills-subHeading{
    width: 70%;
    font-size: 16px;
    /* font-style: italic; */
}

.btn-grp{
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

#btn-project{
    border: none;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 30px;
    transition: all 0.4s;
}

.icon:hover{
    color: var(--bgOrange);
}

#project2{
    background-image: url("images/projects/Project2.png");
}

#project3{
    background-image: url("images/projects/Project3.png");
}

#project4{
    background-image: url("images/projects/Project4.png");
}


.skills-section{
   position: relative;
   margin-bottom: 10rem;
}

.skills-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    border: 3px solid var(--bgOrange);
    padding: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.stack-text{
    width: 50%;
    line-height: 1.6rem;
    text-align: justify;
}

.stack-heading{
    color: var(--bgOrange);
    margin-bottom: 20px;
}

.stack-desc{
    color: black;
}

.m{
    font-size: 50px;
}

.s-container{
    position: relative;
    width:40%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    z-index: 1;
}

.bg-float{
    width: 300px;
    position: absolute;
    top: 20%;
    right: 18%;
    z-index: -1;
    animation: floatAnimation 3s infinite;
    transition: all 0.5s;
}

#blob-float{
    width: 100%;
}

@keyframes floatAnimation {
    50%{
        top: 14%;
        right: 12%;
    }
}


.tech-skills{
    width: 50px;
    transition: all 0.3s;
}

.tech-skills:hover{
    cursor: pointer;
    transform: scale(1.3);
}

#skills-faded{
    user-select: none;
    font-size: 8rem;
    color: rgb(225,225,225);
    bottom: -37%;
    right: -10%;
    font-weight: bold;
}

.contact-section{   
    width: 100%;
    background-color: rgb(225, 225, 225);
    padding: 3rem;
}

/* .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */


#contact-heading{
    color: var(--bgOrange);
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 600;
}

#contact-desc{
    color: rgb(93, 83, 83);
    margin: 1.5rem 0;
    font-size: 2rem;
}

.form-section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 15px;
    width: 80%;
    /* align-self: center; */
}

input, textarea{
    padding: 0.7rem;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 7px black;
}

#submit-btn{
    margin-top: 20px;
    border: none; 
}

#submit-btn:hover{
    transform: scale(0.9);
}

.submit-icon{
    padding: 0 0.5rem;
}

footer{
    background-color: #2c345b;
    position: relative;
    height: 180px;
    overflow-y: hidden;
}

.faded-text-footer{
    position: absolute;
    bottom: -8%;
    left: 0;
    user-select: none;
    font-size: 3.8rem;
    color: rgba(225, 225, 225,0.3);
    font-weight: 200;
    
}

.footer-wrapper{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
}

.footer-items{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
}

.footer-items a{
    color: white;
}

.footer-items a:hover{
    cursor: pointer;
    color: var(--bgOrange);
}

.footer-icons i{
    color: white;
}

.footer-icons i:hover{
    cursor: pointer;
    color: var(--bgOrange);
}

.footer-icons{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width:1300px) {

    .page-heading{
        padding-top: 30px;
        color: var(--bgOrange);
        text-align: center;
        font-size: 40px;
    }

    .projects-container{
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }
    .project-card{
        left: 0;
        right: 0;
        height: 300px;
    }

    .project-card{
        background-size: cover;
        background-position: center;
    }

    .project-content{
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top:0;
    }

    .project-content-odd{
        left: 0;
    }

    .skills-heading{
        font-size: 40px;
        width: 100%;
    }

    .skills-subHeading{
        width: 100%;
    }

    #project2, #project4{
        margin-left: 0;
    }
    
    .project-skills-icon{
        width: 100%;
    }

    .project-skills{
        width: 35px;
    }

    .project-card:hover .project-number{
        visibility: hidden;
    }

    .project-card:hover .project-content{
        scale: 0.55;
    }
}